main{
    background-color: #f4f4f4;
    .main{
 
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 50px;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .settings{
        position: absolute;
        right: 20px;
        top:20px;
    }
}
